# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build-electron
/build-react

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/out-win-asar
/out-darwin-asar

/.vscode
/build/
package-lock.json
page-activate/build/
page-activate/node_modules/
page-activate/package-lock.json
page-agreement/build/
page-agreement/node_modules/
page-agreement/package-lock.json
page-main/build/
page-main/node_modules/
page-main/package-lock.json
page-main/src/react-app-env.d.ts