.div-sum-settings
{
    background-color: rgb(29,30,32);
    padding: 15px;
    border-radius: 20px;
    border: none;
    width: 250px;
    height: 240px;
    margin-left: 15px;
    margin-top: 15px;
    position: relative;

    display: flex;
    flex-direction: column;
}

.div-sum-settings-line
{
    display: flex;
    margin-top: 10px;
}

.div-sum-settings-first-line
{
    display: flex;
}

.input-text-sum-settings-min
{
    outline: none;
    border: none;
    border-radius: 8px;
    width: 20%;
    text-align: center;
    margin-left: 5px;
    margin-right: 3px;
    height: 20px;
}

.input-text-sum-settings-max
{
    outline: none;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 20%;
    text-align: center;
    margin-left: 4px;
    height: 20px;
}

.button-sum-settings
{
    width: 20%;
    margin-left: 3px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    outline: none;
    border: none;
    color: rgb(32,33,36);
    background-color: rgb(80,250,123);
    padding: 3px;
    font-weight: bold;
    height: 23px;
}

.button-sum-settings:hover
{
    background-color: rgb(5, 179, 48);
}

.button-sum-settings:active
{
    background-color: rgb(26,27,29);
    color: white;
}