.div-number-selector-visible,.div-number-selector-invisible
{
    background-color: rgb(29,30,32);
    padding: 15px;
    border-radius: 20px;
    border: none;
    width: 530px;
    display: inline-block;
    margin-left: 15px;
    margin-top: 15px;
    position: relative;
}

.div-number-selector-invisible:hover
{
    background-color: rgb(54, 56, 59);
}

.div-number-selector-invisible:active
{
    background-color: rgb(26,27,29);
}

#img-number-selector-add
{
    position: absolute;
    width: 100px;
    height: 100px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.button-number-selector-all,.button-number-selector-clear,.button-number-selector-delete
{
    outline:none;
    border: none;
    color: rgb(32,33,36);
    background-color: rgb(80,250,123);
    padding: 3px;
    font-weight: bold;
    width: 30%;
    margin-top: 15px;
}

.button-number-selector-all
{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.button-number-selector-clear
{
    margin-left: 3px;
}

.button-number-selector-delete
{
    margin-left: 3px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.button-number-selector-all:hover,.button-number-selector-clear:hover
{
    background-color: rgb(5, 179, 48);
}

.button-number-selector-delete:hover
{
    background-color: rgb(255, 106, 106);
}

.button-number-selector-all:active,.button-number-selector-clear:active,.button-number-selector-delete:active
{
    background-color: rgb(26,27,29);
    color: white;
}

.input-text-number-selector
{
    outline: none;
    border-radius: 5px;
    width: 8%;
    text-align: center;
    border: none;
}

.div-input-number-selector
{
    margin-top: 15px;
    width: 100%;
}

.div-number-selector-helper-invisible,.img-number-selector-helper-invisible
{
    visibility: hidden;
}

input[type="checkbox"]
{
    -webkit-appearance: none;
    vertical-align: middle;
    margin-left: 7px;
    margin-top: 5px;
    background:#fff;
    border: none;
    border-radius: 5px;
    min-height: 12px;
    min-width: 12px;
    position: relative;

    width: 20px;
    height: 20px;

    outline: none;
}

input[type="checkbox"]:checked
{
    background: rgb(80,250,123);
}

input[type="checkbox"]:checked::after
{
    content: '';
    top: 3px;
    left: 3px;
    position: absolute;
    background: transparent;
    border: #fff solid 2px;
    border-top: none;
    border-right: none;
    height: 6px;
    width: 10px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); 
    transform: rotate(-45deg);

    border-bottom: 3px solid rgb(26,27,29);/*设置√的颜色*/
    border-left: 3px solid rgb(26,27,29);/*设置√的颜色*/
}